// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(219, 100%, 55%),
    200: hsl(219, 100%, 41%),
    300: hsl(219, 100%, 30%),
    400: hsl(219, 100%, 29%),
    500: hsl(219, 100%, 20%),
  ),
  secondary: (
    100: hsl(41, 100%, 70%),
    200: hsl(41, 100%, 65%),
    300: hsl(41, 100%, 55%),
    400: hsl(41, 100%, 55%),
    500: hsl(41, 100%, 46%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
