---

const currentYear = new Date().getFullYear()
---

<footer>
  <!--<CallToAction />-->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear}, made by Pitt Rover Project</a
        >.
      </p>
    </div>
  </section>
</footer>
