---
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import Navigation from '../components/Navigation.astro'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="https://discord.gg/WXHypKCYu8" title="Discord" rel="external noopener noreferrer">Discord</a>
    </li>
    <li class="menu-item">
      <a href="https://urc.marssociety.org/" title="Competition" rel="external noopener noreferrer">Competition</a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/pitt-soar/URC" title="Github">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
